html * {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.btn-outline-success {
	background-color: #fff;
}

.btn-outline-warning {
	background-color: #fff;
}

.btn-outline-danger {
	background-color: #fff;
}

.btn-outline-info {
	background-color: #fff;
}

/* not allowing scrolling */


body            { background: #fff; }
a, h1, h2       { color: #000; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
div             { margin: 10px;  }
input           { padding: 6px 10px;
			      margin: 8px 0;
				  box-sizing: border-box;}
.border         { border:1px solid black;}
.block				{ float: left; width: 48%;}
.wallet				{ float: right; width: 48%;}
.node				{ float: left; width: 48%;}
.miner				{ float: left; width: 48%;}
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.header {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
